.hero_card__container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.parent__navigation_bar {
    width: 100%;
    height: 10%;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 10%;
    position: absolute;
}

.hero_card_management__container {
    position: absolute;
    width: 100%;
    height: 90%;
    flex-direction: column;
    top: 10%;
}

.hero_card_pre__list {
    position: absolute;
    width: 75%;
    height: 100%;
    left: 0%;
    top: 0%;
    background-color: rgb(249, 249, 249);
}

.hero_card_pre__panel {
    position: absolute;
    width: 25%;
    height: 100%;
    left: 75%;
    top: 0%;
    background-color: rgb(184, 115, 115);
    border-left-width: 10px;
    border-left-color: rgb(255, 255, 255);
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.unity-scroll-view__content-container {
    flex-direction: column;
    flex-wrap: wrap;
    align-self: auto;
}

.hero_card_pre__item {
    width: 250px;
    height: 250px;
    align-self: auto;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 30px;
    -unity-text-align: middle-center;
}

.hero_card_pre__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(202, 188, 177);
}

.hero_card_pre__background:hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(210, 177, 67);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.hero_card_pre__image {
    position: absolute;
    width: 85%;
    height: 85%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    background-color: rgb(242, 68, 68);
    align-self: center;
}

.hero_card_pre__name {
    position: absolute;
    bottom: 0%;
    align-self: center;
    font-size: 26px;
    -unity-text-align: middle-center;
    width: 100%;
    height: 25%;
}

.HeroCardManagementScreen {
}

.hero_card_pre__edit_list {
    position: absolute;
    width: 100%;
    height: 100%;
    align-self: center;
    align-content: stretch;
}

.hero_card_pre__edit_attr {
    font-size: 24px;
}

.hero_card_pre__edit_attr > .unity-label {
    -unity-text-align: middle-center;
}

.hero_card__upload {
    position: absolute;
    right: 0%;
    height: 100%;
    width: 10%;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    font-size: 28px;
}

.hero_card__re_upload {
    position: absolute;
    right: 11%;
    height: 100%;
    width: 10%;
    font-size: 26px;
}
